<form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
  <div class="row gtr-50 gtr-uniform">
    <div class="col-6 col-12-mobilep">
      <input type="text" name="first_name" id="first_name" value="" placeholder="First Name" />
    </div>
    <div class="col-6 col-12-mobilep">
      <input type="text" name="last_name" id="last_name" value="" placeholder="Last Name" />
    </div>
    <div class="col-6 col-12-mobilep">
      <input type="email" name="email" id="email" value="" placeholder="Email" />
    </div>
    <div class="col-6 col-12-mobilep">
      <input type="tel" name="phone" id="phone" value="" placeholder="123-555-1234" />
    </div>
    <div class="col-12">
      <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
    </div>
    <div class="col-12">
      <ul class="actions special">
        <li><input type="submit" value="Send Message" /></li>
      </ul>
    </div>
    <input type=hidden name="oid" value="00D5w000006UxjL">
    <input type=hidden name="retURL" value="https://taurusj-k.github.io/thank_you/">
     <input type="hidden" value="contact" id="00N5w00000MH1rO" maxlength="50" name="00N5w00000MH1rO" size="20" type="text" />                       
  </div>
</form>


